### Problem:
Suppose you have a text document which contains some information about a topic. But you donâ€™t know what that topic is. Your challenge is to find out the topic without reading the text.

### Importing Data

In [3]:
# Reading the file using open()
file=open('moon.txt',mode='r',encoding='utf-8')

# Getting text data as string
text=file.read()

# Closing the file
file.close()

In [4]:
print(text)

The moon is the satellite of the earth. It moves round the earth. It shines at night by light reflected from the Sun. It looks beautiful. The bright Moonlight is very soothing. The earthly objects shine like silver in the moonlight. We are fascinated by the enchanting beauty of the Moon. The moon is not as beautiful as it looks. It seems to be lovely when it shines in the sky at night. As a matter of fact it is devoid of plants and animals. The moon is not a suitable place for plants and animals. Therefore, no form of life can be found on the moon. Unlike the earth, the moon has got no atmosphere. Therefore, the lunar days are very hot and the lunar nights are intensely cold. The moon looks beautiful from the earth but in fact it has up forbidding appearance. It is full of rocks and craters. When we look at the moon at night we see some dark spots on it. These dark spots are dangerous rocks and craters. The gravitational pull of the moon is less than that of the earth, so it is difficult to walk on the surface of the Moon. The moon has fascinated man since the beginning of his life on the earth. He has looked at it with wonder. Many poets have composed beautiful poems on the moon. Scientists tried to reveal the mystery of the moon. They wanted to send human to the moon. Several attempts were made to place man on the moon. At last two Americans-Neil Armstrong and Edwin Aldrin-reached the moon on July 21, 1969. They walked on the surface of the moon and collected the lunar rocks. They returned to the earth safely. The American scientists have sent men to the moon several times. Now the moon has been conquered by man. It is no longer a mysterious object. The journey of the moon may be thrilling but it cannot make our life on the earth happy. It is better to have a happy life on the earth then to go to the moon.

### Cleaning Text

In [5]:
import re

# Function for cleaning text
def clean_text(text):
    
    # Lowercasing the text
    text=text.lower()
    
    # Removing comma(,), period(.) and newline character(\n)
    text=re.sub('[,.\n]','',text)
    
    # Replacing hypen with blank space
    text=re.sub('-',' ',text)
    
    return text

In [7]:
# Cleaning Text
cleaned_text=clean_text(text)

In [8]:
print(cleaned_text)

the moon is the satellite of the earth it moves round the earth it shines at night by light reflected from the sun it looks beautiful the bright moonlight is very soothing the earthly objects shine like silver in the moonlight we are fascinated by the enchanting beauty of the moon the moon is not as beautiful as it looks it seems to be lovely when it shines in the sky at night as a matter of fact it is devoid of plants and animals the moon is not a suitable place for plants and animals therefore no form of life can be found on the moon unlike the earth the moon has got no atmosphere therefore the lunar days are very hot and the lunar nights are intensely cold the moon looks beautiful from the earth but in fact it has up forbidding appearance it is full of rocks and craters when we look at the moon at night we see some dark spots on it these dark spots are dangerous rocks and craters the gravitational pull of the moon is less than that of the earth so it is difficult to walk on the surface of the moon the moon has fascinated man since the beginning of his life on the earth he has looked at it with wonder many poets have composed beautiful poems on the moon scientists tried to reveal the mystery of the moon they wanted to send human to the moon several attempts were made to place man on the moon at last two americans neil armstrong and edwin aldrin reached the moon on july 21 1969 they walked on the surface of the moon and collected the lunar rocks they returned to the earth safely the american scientists have sent men to the moon several times now the moon has been conquered by man it is no longer a mysterious object the journey of the moon may be thrilling but it cannot make our life on the earth happy it is better to have a happy life on the earth then to go to the moon

### Finding most frequent words

In [9]:
import spacy

In [10]:
# Loading spacy model
nlp=spacy.load('en_core_web_sm')

In [11]:
# creating doc object
doc=nlp(cleaned_text)

In [17]:
words_dict={}

# Add word-count pair to the dictionary
for token in doc:
    # Check if the word is already in dictionary 
    if token.text in words_dict:
        # Increment count of word by 1 
        words_dict[token.text]=words_dict[token.text]+1
    else:
        # Add the word to dictionary with count 1 
        words_dict[token.text]=1

In [18]:
import pandas as pd

In [14]:
# Creating a dataframe from dictionary
df = pd.DataFrame({'word':list(words_dict.keys()), 'count':list(words_dict.values())})

In [15]:
# Sorting dataframe in descending order
df.sort_values(by='count',ascending=False,inplace=True,ignore_index=True)

In [19]:
print('Shape=>',df.shape)
df.head(5)

Shape=> (151, 2)

   word  count
0   the     47
1  moon     21
2    it     15
3    of     13
4    to     11

# What are Stop words?
Stopwords are the most common words in a language which are added to make things more understandable to humans. Like in English we have `a, an, the, for, where, when, at,` etc. These words are removed during text pre-processing phase because these words do not add muchÂ value to the meaning of the document.

Consider a sample sentence:
##### String: "There is a pen on the table."
##### Stopwords: \["There", "is", "a", "on", "the" \]
##### Meaningful words: \["pen", "table"\]

In [20]:
print(nlp.Defaults.stop_words)

{'two', 'somewhere', 'all', 'â€˜s', 'it', 'should', 'only', 'not', 'via', 'their', 'at', 'namely', 'using', 'ourselves', 'nevertheless', 'between', 'â€˜m', 'he', 'go', 'forty', 'perhaps', 'then', 'whereupon', 'own', 'nowhere', 'could', 'sixty', 'seemed', 'still', 'fifteen', 'yourselves', 'neither', 'himself', 'â€™ll', 'sometime', 'with', 'she', 'yourself', 'them', 'ever', 'latter', 'bottom', 'sometimes', 'few', 'might', 'moreover', 'mostly', 'â€™d', 'keep', 'really', 'are', 'within', 'move', 'very', 'if', 'seems', 'former', 'hereupon', 'out', 'due', 'below', 'now', 'nine', 'thereby', 'each', 'hereby', 'my', 'first', 'these', 'unless', 'everyone', 'most', 'nobody', 'several', 'both', 'one', 'our', 'â€˜ll', 'hence', 'much', 'herself', 'someone', 'have', 'â€™s', 'nothing', 'becomes', 'themselves', 'around', 'done', 'above', 'becoming', 'anywhere', 'nâ€˜t', 'whose', 'seem', 'whereby', 'against', 'just', 'about', 'they', "n't", 'whither', 'amongst', 'call', 'whereafter', 'hundred', 'must', 'back', 'doing', 'every', 'part', 'whatever', 'last', 'except', 'down', 'make', 'did', 'twenty', 'alone', 'whoever', 'do', 'many', 'further', 'seeming', 'that', 'together', 'where', 'upon', 'when', 'since', 'hereafter', 'how', 'whereas', 'those', 'but', 'other', 'formerly', 'wherein', 'until', 'nor', 'had', 'toward', 'the', 'whenever', 'three', 'per', 'we', 'six', 'an', 'â€™m', 'eight', 'noone', 'quite', 'else', 'either', 'which', 'least', 'â€™re', 'him', 'never', 're', 'towards', 'meanwhile', 'â€˜d', 'thru', 'anyway', 'side', 'regarding', 'therefore', 'less', 'more', 'myself', 'enough', 'nâ€™t', 'â€˜re', 'therein', 'been', 'behind', 'across', 'on', 'show', 'under', 'name', 'ten', 'hers', 'give', 'onto', 'a', 'and', 'us', 'anyhow', 'get', 'i', 'already', 'everywhere', 'put', 'twelve', 'next', 'along', 'so', 'take', 'were', 'serious', 'up', 'â€˜ve', 'again', 'is', 'somehow', 'indeed', 'because', 'by', 'yours', 'cannot', 'however', 'why', 'whom', 'no', 'fifty', 'often', 'third', 'over', 'top', 'as', 'thereupon', 'some', 'off', 'during', 'or', 'throughout', 'another', 'though', 'what', 'mine', 'thereafter', 'her', "'re", 'has', 'was', 'through', 'me', 'in', 'will', "'s", 'made', "'m", 'thus', 'herein', 'here', 'its', 'there', 'become', 'without', 'none', 'amount', 'besides', 'whence', 'afterwards', 'everything', 'please', 'to', "'ve", 'any', 'his', 'who', 'beforehand', 'am', 'be', 'became', 'does', 'various', 'among', 'latterly', 'beside', 'for', 'anything', 'ours', 'front', 'than', 'see', 'say', 'wherever', 'while', 'can', 'you', 'eleven', 'after', 'once', 'almost', 'yet', 'before', 'into', 'same', 'otherwise', 'whether', 'elsewhere', 'from', 'used', 'also', 'anyone', 'your', 'five', 'even', "'d", 'empty', 'may', 'thence', 'this', 'whole', 'itself', 'being', 'too', 'â€™ve', 'rather', 'of', 'always', 'ca', 'four', 'although', 'something', 'beyond', 'others', 'such', "'ll", 'full', 'well', 'would'}

In [21]:
len(nlp.Defaults.stop_words)

326

In [22]:
# Getting words that are not stopwords
new_tokens=[token.text for token in doc if (token.is_stop == False)]

In [23]:
print(new_tokens)

['moon', 'satellite', 'earth', 'moves', 'round', 'earth', 'shines', 'night', 'light', 'reflected', 'sun', 'looks', 'beautiful', 'bright', 'moonlight', 'soothing', 'earthly', 'objects', 'shine', 'like', 'silver', 'moonlight', 'fascinated', 'enchanting', 'beauty', 'moon', 'moon', 'beautiful', 'looks', 'lovely', 'shines', 'sky', 'night', 'matter', 'fact', 'devoid', 'plants', 'animals', 'moon', 'suitable', 'place', 'plants', 'animals', 'form', 'life', 'found', 'moon', 'unlike', 'earth', 'moon', 'got', 'atmosphere', 'lunar', 'days', 'hot', 'lunar', 'nights', 'intensely', 'cold', 'moon', 'looks', 'beautiful', 'earth', 'fact', 'forbidding', 'appearance', 'rocks', 'craters', 'look', 'moon', 'night', 'dark', 'spots', 'dark', 'spots', 'dangerous', 'rocks', 'craters', 'gravitational', 'pull', 'moon', 'earth', 'difficult', 'walk', 'surface', 'moon', 'moon', 'fascinated', 'man', 'beginning', 'life', 'earth', 'looked', 'wonder', 'poets', 'composed', 'beautiful', 'poems', 'moon', 'scientists', 'tried', 'reveal', 'mystery', 'moon', 'wanted', 'send', 'human', 'moon', 'attempts', 'place', 'man', 'moon', 'americans', 'neil', 'armstrong', 'edwin', 'aldrin', 'reached', 'moon', 'july', '21', '1969', 'walked', 'surface', 'moon', 'collected', 'lunar', 'rocks', 'returned', 'earth', 'safely', 'american', 'scientists', 'sent', 'men', 'moon', 'times', 'moon', 'conquered', 'man', 'longer', 'mysterious', 'object', 'journey', 'moon', 'thrilling', 'life', 'earth', 'happy', 'better', 'happy', 'life', 'earth', 'moon']

In [24]:
new_words_dict={}

# Add word-count pair to the dictionary
for token in new_tokens:
    # Check if the word is already in dictionary 
    if token in new_words_dict:
        # Increment count of word by 1
        new_words_dict[token] = new_words_dict[token]+1
    else:
        # Add the word to dictionary with count 1 
        new_words_dict[token]=1

In [25]:
# Creating a dataframe from dictionary
new_df = pd.DataFrame({'word':list(new_words_dict.keys()), 'count':list(new_words_dict.values())})

In [26]:
# Sorting dataframe in descending order
new_df.sort_values(by='count',ascending=False,inplace=True,ignore_index=True)

In [27]:
print('Shape=>',new_df.shape)
new_df.head(5)

Shape=> (97, 2)

        word  count
0       moon     21
1      earth      9
2       life      4
3  beautiful      4
4      looks      3

          word  count
0         moon     21
1        earth      9
2         life      4
3    beautiful      4
4        looks      3
..         ...    ...
92  atmosphere      1
93         got      1
94      unlike      1
95       found      1
96      better      1

[97 rows x 2 columns]

Due to stopwords a lot of resourcesÂ get wasted in storing and pre-processing these. Removing them makes the process of analysis and model buildingÂ faster because the corpus size gets reduced due to it.

## Remove Stopwords:
- Text Classification
- Caption Generation
- Auto-Tag Generation

## Don't Remove Stopwords:
- Machine Translation
- Language Modeling
- Text Summarization
- Question-Answering Problems